{% extends 'base.html.twig' %}

{% block title %}Quizz | Home{% endblock %}

{% block body %}

    <div class="p-8 flex flex-col gap-12 justify-center bg-amber-200 flex-grow items-center overflow-hidden">
        <p class="text-3xl text-center">Boost Your Knowledge with Fun Quizzes!</p>
        <p class="text-3xl text-center">Discover, Learn, and Challenge Yourself!</p>
    </div>

{% endblock %}
