{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <div class="p-8 flex flex-col gap-12">
        <div class="flex justify-between items-center">
            <h1 class="text-3xl" >Edit Categorie : {{ categorie.name }}</h1>
            <a href="{{ path('app_categorie_index') }}" class="text-blue-500">Back to list</a>
        </div>


        {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('categorie/_delete_form.html.twig') }}
    </div>
{% endblock %}
